<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -@ViewBag.Kimlik.KMK_Title</title> 
  
    

    <meta name="description" content="@Html.Raw(ViewBag.Kimlik.KMK_Description)" />
    <meta name="keywords" content="@ViewBag.Kimlik.KMK_Keywords" />

    <!-- Favicons -->
    <link href="/Content/SiteLayout/assets/img/favicon.png" rel="icon">
    <link href="/Content/SiteLayout/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Content/SiteLayout/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/Content/SiteLayout/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/Content/SiteLayout/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v2.2.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container">

            <div class="logo float-left p-0 m-0">
                <a class="navbar-brand text-light p-0 m-0" href="/Anasayfa">
                    <img src="@ViewBag.Kimlik.KMK_LogoURL" class="img-fluid" alt="Logo" style="max-height: 30px;max-width:150px;" />
                    @ViewBag.Kimlik.KMK_Unvan
                </a>
            </div>





            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li><a href="/Anasayfa">Ana Sayfa</a></li>
                    <li><a href="/Hakkimizda">Hakkımızda</a></li>
                    <li><a href="/Hizmetlerimiz">Hizmetlerimiz</a></li>
                    <li><a href="/Iletisims">İletişim</a></li>
                    <li><a href="/Urunler">Ürünlerimiz</a></li>

                    @*<li class="drop-down">
                    <a href="">Drop Down</a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="drop-down">
                            <a href="#">Drop Down 2</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact Us</a></li>*@
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    <!-- 2. NAVBAR İLE KATEGORİLERİ ÇEK-->

    <!-- ======= Hero Section ======= -->
    @RenderBody()
    <!-- End #main -->
  
    @{ Html.RenderAction("FooterPartial", "Home");}
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="/Content/SiteLayout/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/php-email-form/validate.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/Content/SiteLayout/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/Content/SiteLayout/assets/js/main.js"></script>

</body>

</html>
