@model Dynamic_Web_Site.Models.Model.Tanitim

@{
    ViewBag.Title = "Tanıtımı Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Tanıtım Sil</h2>

<h3>Tanıtımı silmek istediğinize emin misiniz?</h3>

<div>
    <h4>Tanitim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TNT_TanıtımAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TNT_TanıtımAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TNT_Tanitim)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.TNT_Tanitim))
            {
                <video width="320" height="240" controls>
                    <source src="@Model.TNT_Tanitim" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            }
            else
            {
                @:Video bulunamadı
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TNT_Create_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TNT_Create_Date)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-right">
            <input type="submit" value="Tanıtımı Sil" class="btn btn-danger" />

        </div>
        <div>
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
